{% extends 'home/base.html' %}


{% block content %}
<br><br>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ben kimim ?</h5>
                <p class="card-text"> Merhaba arkadaşlar, adım Ömer Sarı 25 yaşında bir inşaat yüksek mühendisiyim. 2017 Yıldız Teknik Üniversitesinden lisans programını ve 2020 İstanbul Teknik Üniversitesinden yüksek lisans
                programını tamamladım. İlk defe kodla tanışmam 2018 yazında oldu ve Python çalışmaya başladım. Daha sonra çeşitli programlarda C#, HTML, CSS, JS eğitimi aldım. Fakat kullanma konusunda Python'ı dafa fazla kullandığımı
                söyleyebilirim. Python'da çeşitli kütüphaneler ve frameworkler öğrenirken, hem kendimi daha iyi geliştirebilmek hem de bir Türkçe kaynak olarak böyle bir blog oluşturmaya karar verdim.</p>

                <a href="https://twitter.com/imomers"><i data-feather="twitter">twitter.com/iamomers</i></a> &nbsp &nbsp
                <a href="https://github.com/omeersari"><i data-feather="github"></i></a> &nbsp &nbsp
                <a href="https://github.com/omeersari"><i data-feather="instagram"></i></a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BenleKODLA nedir ?</h5>
                <p class="card-text"> BenleKODLA'yı başlatmamın asıl sebebi, aslında internette gezinirken gördüğüm bir sözdü. Einstein'e ait olduğu söylensede Feynman tekniği olarak da anılıyor.
                    “Eğer bir şeyi basitçe açıklayamıyorsan onu yeterince iyi anlamamışsın demektir.” BenleKODLA'da anlatmaktan çok yazarken sizlere anlatmak ve kendimi test etmek ve geliştirmek istedim.
                    Çünkü bir şeyi anlatmak onu tam olarak anlamadan gerçekleşemez. Umarım hem kendimi hem de sizleri geliştirebilirim. Siteye destek olmak istersen çok memnun kalırız.</p>

                <h5 class="card-title">Üye olmak</h5>
                <p class="card-text"> BenleKODLA'ya üye olmak zorunlu değildir. Ancak blogların altına yorum yapabilmek için üye olunması gerekir. Gelecekte üyeler daha avantajlı duruma
                geçebilir. Bunu unutma !</p>



                <h5 class="card-title">İletişim kurun</h5>
                <p class="card-text"> Soru ve sorunlar için bizimle <a href='mailto:"mryellow95@gmail.com'>iletişime</a>  geçebilirsiniz. </p>
            </div>

        </div>

    </div>
</div>

{% endblock %}